body{
    box-sizing: border-box;
}

main{
    background-color: #ccd9eb;
    margin: auto;
    padding: 2rem;
}

.container{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    max-width: 375px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    border-radius: 16px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 0px 100px 0px;
}

.container-qrcode img{
    max-width: 100%;
    object-fit: contain;
    border-radius: 16px;
    /*APLICANDOEFEITOS*/
    transition: all 0.5s;
    cursor: pointer;
    
}

.container-qrcode img:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}



.container-info{
    padding: 1.25rem;
    text-align: center ;
}

.container-info h1, p{
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
}

.container-info h1{
    color: hsl(218, 44%, 22%);
}

.container-info p{
    font-size: 20px;
    font-weight: 400;   
    color: hsl(216, 15%, 48%);
}


.attribution{ 
    margin-top: 20px;
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}